/* Fonts And Shared */

.inter-font-1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}


.raleway-font-2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

/* CSS */
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgba(173, 216, 230, 0.3);
}
/* Header */
header{
  max-width: 1440px;
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 698px;
  margin: 0 auto;
}
/* Navbar */
nav{
  /* border: 5px solid tomato; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.logo{
  width: 99px;
  /* height: 48px; */
  font-size: 34px;
  font-weight: 700;
  padding-left: 100px;
  color: #4E47FF;
  /* padding-top: 40px; */
  padding-bottom: 15px;
}
nav button{
  width: 132px;
  height: 48px;
  border-radius: 16px;
  margin-right: 100px;
  background-color: #4E47FF;
  border: none;
}
nav button a{
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

/* Banner */
.banner{
  margin: 0 auto;
  /* border: 5px solid tomato; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 905px;
  height: 237px;
  margin-top: 158px;
}
.banner-heading{
  font-size: 65px;
  font-weight: bold;
  width: 905;
  height: 152px;
  text-align: center;
}
.banner button{
 margin-top: 40px;
 border: none;
 border-radius: 16px;
 background-color: #4E47FF;
 width: 174px;
 height: 48px;
}
.banner button a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

/* Action */
.action{
  /* border: 5px solid tomato; */
  width: 1140px;
  height: 328px;
  margin: 0 auto;
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
  /* background-color: white; */
}
.left{
  margin: auto 0px;
}
.action-header{
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
}
.action-detail{
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 20px;
}
.left button{
  border: none;
  background-color: #4E47FF;
  width: 229px;
  height: 48px;
  border-radius: 10px;
}
.left button a{
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.right img{
  border-radius: 16px;
}

/* Productive Users */

.Productive-Users{
  /* border: 5px solid tomato; */
  background-color: rgba(77, 71, 255, 0.1);
  width: 1140px;
  height: 306px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}

.user-heading{
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 40px;
}
.data{
  /* border: 2px solid orangered; */
  display: flex;
  gap: 120px;
}
.data-all h1{
  font-size: 80px;
  font-weight: bold;
  color: rgba(78, 71, 255, 1);
}
.data-all span{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  /* text-align: center; */
}
.data-all{
  text-align: center;
}

/* Feedback */
.feedback{
  /* border: 5px solid orangered; */
  width: 1140px;
  height: 342px;
  margin: 0 auto;
  margin-top: 130px;
}

.feedback-head{
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

.feedback-container{
  /* border: 2px solid purple; */
  display: flex;
  margin-top: 50px;
  height: 243px;
  gap: 10px;
}
.users{
  background-color: #F2EDED;
  padding-left: 24px;
  padding-top: 20px;
  border-radius: 14px;
  box-shadow: 2px 2px 5px rgba(255, 165, 0, 0.3);
}

.review{
  font-size: 35px;
  font-weight: bold;
}

.review-detail{
  margin-top: 10px;
  /* border: 2px solid red; */
  font-size: 20px;
  font-family: sans-serif;
  /* color: purple; */
  font-weight: 500;
}
.user-info{
  margin-top: 25px;
  /* border: 5px solid red; */
  display: flex;
  gap: 15px;
}
.user-info img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.name{
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  color: rgba(37, 36, 50, 0.6);
  margin-bottom: 5px;
}
.date span{
  font-size: 20px;
  font-family: sans-serif;
  color: rgba(37, 36, 50, 0.4);
}

/* Get In Touch */

.get-in-touch{
  /* border: 5px solid tomato; */
  width: 1140px;
  height: 632px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.touch-header{
  margin: 200px auto;
  margin-left: 0;
  width: 528px;
  height: 232px;
  /* border: 4px solid red; */
  font-size: 97px;
  font-weight: bold;
}

.form{
  /* border: 4px solid blue; */
  width: 495px;
  height: 490px;
  margin: 70px auto;
  margin-right: 0;
}

form label{
  margin-left: 2px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  display: inline-block;
}
input[type="email"],input[type="text"]
{
   width: 465px;
   height: 70px;
   border-radius: 10px;
   border: none;
   padding-left: 32px;
   /* overflow: hidden; */
}
textarea{
  width: 433px;
  height: 135px;
  border: none;
  border-radius: 10px;
  padding: 20px 32px;
  resize: none;
}

.form-btn
{
  background-color: rgba(78, 71, 255, 1);
  border: none;
  width: 497px;
  height: 62px;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
}
/* Hover */
button:hover{
  background-color: orangered;
  transition: calc(.5s);
  cursor: pointer;
}
